<div class="flex flex-row h-screen">
  <form class="flex-1 max-w-md px-4 flex items-center">
    <div>
      <app-custom-icon-text-field
        [icon]="'person'"
        [placeholder]="'Enter your username'"
      />
      <app-custom-icon-text-field
        [icon]="'lock'"
        [placeholder]="'Enter your password'"
      />
      <app-custom-button> Login </app-custom-button>
      <p class="mt-4 text-gray-600">
        Don't have an account?
        <a class="text-blue-500 cursor-pointer" routerLink="/signup">Sign up</a>
      </p>
    </div>
  </form>
  <div class="image flex-1 bg-red-800">
    <img
      class="object-cover w-full h-full"
      src="assets/house.jpg"
      alt=""
      srcset=""
    />
  </div>
</div>
