
<mat-card>
    <div>

        <mat-card-content class="form-container">
            <!-- <mat-card-header class="text-xl mb-5 font-semibold">

                <mat-card-title class="text-green-600">Your Real State Genie</mat-card-title>
            </mat-card-header> -->
            <app-custom-icon-text-field [icon]="'person'" [placeholder]="'Enter your username'"/>
            <app-custom-icon-text-field [icon]="'lock'" [placeholder]="'Enter your password'"/>
            <app-custom-button>
                Login
            </app-custom-button>
        </mat-card-content>
        <div class="image">
            <img src="assets/house.jpg" alt="" srcset="">
        </div>
    </div>
</mat-card>